body {
    font-family: 'Satoshi', sans-serif;
     
    }
h1 {
    padding-left: 2rem;
}

.navbar {

    background-color: antiquewhite;
}

.navbar__links {
    list-style-type: none;
    display: inline;
    text-decoration: none;
}

a {
    text-decoration: none;
}